body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ensure body takes up full viewport height */
}

main {
    display: flex;
    flex-direction: row;
    flex: auto; /* allow main to grow and shrink as needed */
}

article {
    flex: 2; /* take up 2/3 of the width */
    overflow-y: auto; /* allow vertical scrolling */
}

aside {
    flex: 1; /* take up 1/3 of the width */
    overflow-y: auto; /* allow vertical scrolling */
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    article, aside {
        flex: 1;
    }
}
